.grid-container {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.description {
  height: 100px;
  overflow-y: auto;
  padding-right: 5px;
}

.filter {
  margin-bottom: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px; /* Add padding to the container to create space between the edges of the screen and the components */
}


.cart-component {
  margin-right: 40px;
}